.main-header{
    background-image: url(h2.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    
}   
.centered{
    text-align: center;
}
.main-div li{
    color: whitesmoke;
    display: inline-block;
    list-style: none;
}
.main-div a{
    color: whitesmoke;
    font-size: 25px;
    padding-right: 25px;
    font-weight: bold;
}
.main-div a:hover,
.main-div a:active{
    color: darkred;
}
#el1{
    color: tomato;
    
}
.espacee{
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    vertical-align: middle;
    position: fixed;
    width: 100%;
}
.padbot{
    padding-bottom: 40px;
    margin: 0;
}
.padbot0{
    padding-bottom: 100px;
    margin: 0;
}
.img{
    width: 40px;
    height: 40px;
}
.padleft{
    padding-left: 25px;
}
.padtop{
    padding-top: 100px;
    margin: 0;
}
.padbot1{
    padding-bottom: 18px;
    margin: 0;
}
.about{
    color: white;
    border-bottom: 2px solid white;
    padding-top: 100px ;
    padding-bottom: 25px;
}
.ab{
    color:whitesmoke ;
}
.ab:hover,
.ab:active{
    color: tomato;
    text-decoration: none;
}
.colored{
    color: beige;
}
#detail{
    padding: 18px;
    list-style: none;
}
.edu{
    color: darkgray;
    border-bottom: 2px solid turquoise;
    width: 70%;
    
}
.edu1{
    color: darkgray;
    border-bottom: 2px solid turquoise;
    width: 40%;
    
}
.text-right{
    text-align: right;
}
.border-bot{
    border-bottom: 3px solid darkgray;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.list{
    list-style: none;
}
.margleft{
    margin-left: 20px;
}
footer{
    background-color: black;
    padding: 50px 0px;
}
.col{
    color: wheat;
}
#colo{
    color: whitesmoke;
}
.bim{
    background-image: url(h.png);
}